header {
    display: flex;
    justify-content: space-between;
}

.back {
    color: var(--gray-dim);
}

.main-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.clipboard-left,
.clipboard-right {
  position: relative;
  display: inline-block;
  width: 45%;
}

.clipboard {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
}

.answer-text-left,
.answer-text-right {
  font-family: "Press Start 2P";
  color: var(--bg);
  position: absolute;
  max-height: 50%;
  overflow-y: none;
  padding: 10px;
  font-size: clamp(0.7rem, 2vw, 1rem);
}

.answer-text-left {
  top: 25%;
  left: 25%;
  width: 60%;
}

.answer-text-right {
  top: 25%;
  right: 18%;
  width: 60%;
}
@media (max-width: 768px) {
  .main-panel {
    flex-direction: column;
    align-items: center;
  }

  .clipboard-left,
  .clipboard-right {
    width: 90%;
    margin-bottom: 20px;
  }
}
