.difficulty-title {
  font-family: "Press Start 2P";
  font-size: 90px;
  color: var(--yellow);
  -webkit-text-stroke: 1px var(--gray);
  text-align: center;
}

.mode-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

button.difficulty-button {
  height: 95px;
  width: 250px;
  color: var(--bg);
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Press Start 2P";
  transition: all 0.3s;
}

button.difficulty-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button.easy-button {
  background: #fbe7ab;
}

button.medium-button {
  background: #f3cd5c;
}

button.hard-button {
  background: #f6c73a;
}

@media (max-width: 768px) {
  .difficulty-title {
    font-size: 32px;
  }

  button.difficulty-button {
    font-size: 18px;
    height: 60px;
    width: 200px;
  }
}
