header {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: DM Sans;
  line-height: 100%;
  letter-spacing: 0%;

  a.header-title {
    text-decoration: none;
  }
}

nav {
  display: flex;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--gray-dim);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

nav a.active {
  color: var(--gray);
}

nav a:hover {
  color: var(--gray);
}

a.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  a.header-title {
    font-size: 20px;
  }

  nav.nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--bg);
    position: absolute;
    top: 60px;
    right: 20px;
    outline: 1px solid var(--fg);
    padding: 10px;
    border-radius: 8px;
  }

  nav.nav-links.show {
    display: flex;
    flex-direction: column;

    a {
      font-size: 16px;
    }

    a:not(.nav-item) {
      display: none;
    }
  }

  a.menu-toggle {
    display: block;
  }
}
