div.quiz-screen {
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

div.question-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-weight: 400;
  padding: 10px;
  box-sizing: border-box;
  flex: 2;
  font-size: 1.5em;
  height: 100%;
}

div.choices-row {
  width: 100%;
  display: grid;
  flex: 1;
  grid-template-columns: 50% 50%;
  gap: 16px;
  height: 100%;
  justify-content: center;
}

button.choice-button {
  background-color: var(--bg-accent);
  color: var(--fg-accent);
  border: 1px solid grey;
  padding: 20px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  text-align: left;
  height: 100%;
  width: 100%;
}

button.choice-button:hover {
  background-color: var(--bg-accent-hover);
}

@media (max-width: 768px) {
  div.question-row {
    font-size: 28px;
    text-align: center;
  }

  div.choices-row {
    grid-template-columns: 1fr;
  }

  button.choice-button {
    font-size: 14px;
  }
}
