:root {
  --bg: #010114;
  --bg-accent: #fbf2da;
  --bg-accent-hover: #d9d0b8;
  --fg: #ffffff;
  --fg-accent: #2a2823;
  --green-variation-0: #d3fc88;
  --green-variation-1: #9deb0c;
  --red: #fe5b77;
  --yellow: #eec23f;
  --yellow-variation-0: #fbe7ab;
  --yellow-variation-1: #f3cd5c;
  --yellow-variation-2: #f6c73a;
  --gray: #e0ddd6;
  --gray-dim: #aeabab;
}

* {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  color: var(--fg);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
  z-index: -1;
}

main {
  flex: 1;
  align-content: center;
}

.screen-title {
  flex: 1;
  font-family: "Press Start 2P", sans-serif;
  font-size: 90px;
  color: var(--yellow);
  -webkit-text-stroke: 1px var(--gray);
  text-align: center;
}

.mode-buttons {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

main,
header {
  padding: 32px;
}

button, a {
  cursor: pointer;
}

button.panel-button {
  height: 95px;
  width: 250px;
  color: var(--bg);
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Press Start 2P", sans-serif;
  transition: all 0.3s;
}

button.panel-button:hover {
  opacity: 0.8;
}

button.yellow-var-0 {
  background-color: var(--yellow-variation-0);
}

button.yellow-var-1 {
  background-color: var(--yellow-variation-1);
}

button.yellow-var-2 {
  background-color: var(--yellow-variation-2);
}

footer {
  align-items: center;
  color: var(--gray);
  display: flex;
  height: 80px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 2px solid rgba(161, 121, 26, 0.3);
}

footer h2 {
  font-size: 28px;
  color: var(--gray);
}

@media (max-width: 768px) {

  div.screen-title {
    font-size: 32px;
  }

  main,
  header {
    padding: 16px;
  }

  footer h2 {
    font-size: 20px;
    color: var(--gray);
  }

  button.panel-button {
    font-size: 18px;
    height: 60px;
    width: 200px;
  }
}
